{% macro show_nav(user) %}

<!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Questions & Answers</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            {% if not user %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
            {% if user %}
                {% if user.expert != 1 and user.admin != 1 %}
                <li><a href="{{ url_for('ask') }}">Ask Question</a></li>
                {% endif %}
            {% endif %}
            {% if user %}
                {% if user.expert %}
                <li><a href="{{ url_for('unanswered') }}">Answer Questions</a></li>
                {% endif %}
            {% endif %}
            {% if user %}
                {% if user.admin %}
                <li><a href="{{ url_for('users') }}">User Setup</a></li>
                {% endif %}
            {% endif %}
            {% if user %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

{% endmacro %}