{% extends 'base.html' %}

{% block title %}Showcasing Dict Stuff{% endblock %}
{% block style %}
<style>
    a {
        text-decoration: none;
    }
    a:hover {
        font-weight: bolder;
        color: red;
    }
</style>
{% endblock %}

{% block content %}
        {% for item in thedict %}
        <h3>{{ item }}</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ thedict.item }}</p>
        <hr>
        {% endfor %}
        <p>Show a static file</p>
        <img src="{{ url_for('static', filename='network-image.png') }}">
        <hr>
        <img src="{{ url_for('static', filename='laptop-image.png') }}">
{% endblock %}