{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}
{% block style %}
<style>
    a {
        text-decoration: none;
    }
    a:hover {
        font-weight: bolder;
        color: red;
    }
</style>
{% endblock %}
{% block content %}
    <h1>Hello {{ name }} you have passed the test. Congratulations</h1>
    <p>The session parameter here is {{ psess }}</p>
    <p>And the login information we have is <strong>{{ user }}</strong></p>
    {% if name == 'Tony' %}
        <h2>Tony's in the house</h2>
    {% else %}
        <h2>Tony's not in the house</h2>
    {% endif %}
    <p>&nbsp;</p>
    <p>The app.root_path is {{ rootpath }}</p>
    <hr>
    <p>The app.instance_path is {{ apppath }}</p>
    <p>&nbsp;</p>
    <p><a href="/dictstuff">Show Dictionary</a></p>
{% endblock %}